<nav id='navbar-container'>
    <img id='logo' src='../../assets/SWA-logo with words.png' alt='logo'/>

    <div id='nav-items'>
        <div id='nav-top-items'>
            <button id='nav-login-btn'>Log In</button>
            <h5>Enroll</h5>
            <h5>Español 🌐</h5>

        </div>

        <ul id='nav-bottom-items'>
            <ul id='nav-grouped-items'>
                <li class='nav-item'>FLIGHT</li>
                <li class='nav-item'>HOTEL</li>
                <li class='nav-item'>CAR</li>
                <li class='nav-item'>VACATIONS</li>
            </ul>

            <li class='nav-item'>SPECIAL OFFERS</li>
            <li class='nav-item'>RAPID REWARDS®</li>
            <img id='nav-search' src='../../assets/SWA-search.png' alt='search'/>
        </ul>
    </div>
</nav>