/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/SWA-bg.gif);
    background-repeat: none;
    background-position: top;
    margin: 0px;
}